<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_itemlist">
                <li class="main-header_items"><a href="/shop">Shop</a></li>
                <li class="main-header_items"><a href="/admin/add-product" class="active">Add Product</a></li>
                <li class="main-header_items"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <h2>Book A Call</h2>
        <h5>
            Book a call and our representative will call you within one hour of selected time
        </h5>
        <hr>
        <form action="/success">
            <div class="inputname">
                <label>Name</label>
                <input type="text" placeholder="NAME" id="name" class="name">
            </div>
            <div class="inputname">
                <label>EMAIL</label>
                <input type="email" placeholder="Valid Email" id="mail" class="email">
            </div>
            <div class="inputname">
                <label>PHONE</label>
                <input type="text" class="phone" id="phone" placeholder="number">
            </div>
            <div class="block">
                <input type="submit" class="block" value="Get A Call"></button>
            </div>
        </form>
    </div>
</body>
</html>